/*
* Peach V 1.0.0
* Copyright 2019, Jarod Peachey
*/

/* Base Styling 
-----------------------------------------------------------------*/

*::before,
*::after,
* {
   box-sizing: inherit;
}

.bg-primary {
   background: #00c6e0;
   color: white;
}

.bg-primary .subtitle {
   color: var(--white-transparent)
}

.bg-light {
   background: var(--lightest-gray);
}

body {
   width: 100%;
   overflow-x: auto;
   margin: 0;
   padding: 0;
   overflow-y: hidden;
}

html {
   box-sizing: border-box;
   overflow: auto;
}

:root {
   /* Main color scheme */
   --primary: #00c6e0;
   /* Base color */
   --primary-dark: #00b6ce;

   --accent: #e78708;
   /* Accent and CTA color */
   --accent-dark: #d67d09;
   --background-light: #949494;
   --background-medium: #b1b1b1;
   --background-dark: #4d4d4d;

   --link: #1576f5;
   --link-dark: #0064e7;
   --info: #219df0;
   --info-dark: #008ce9;
   --success: rgb(87, 211, 87);
   --success-dark:
   rgb(70, 192, 70);
   --warning: rgb(255, 217, 0);
   --warning-dark: rgb(243, 207, 0);
   --danger: rgb(202, 68, 34);
   --danger-dark: rgb(185, 64, 34);
   --lightest-gray: #f7f7f7;
   --lighter-gray: #eeeeee;
   --light-gray: #e2e2e2;
   --medium-gray: #d8d8d8;
   --dark-gray: #474747;
   --darkest-gray: #1a1a1a;



   --white-transparent: rgba(255, 255, 255, 0.753);
}

/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */
.container {
   margin: 0 auto !important;
   width: 90%;
   padding: 5rem 0;
}

@media (min-width: 540px) {
   .container {
      margin: 0 auto;

        width: 90%;
   }
}

@media (min-width: 769px) {

    .container {
      margin: 0 auto;
      width: 85%;
   }
}

@media (min-width: 1024px) {
   .container {
      margin: 0 auto;
      width: 80%;
      max-width: 960px;
   }
}

.col {
   padding: 8px;
   margin: 0;
   flex-basis: 0;
   flex-grow: 1;
   flex-shrink: 1;
   display: block;
}

.row.mobile {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.row.mobile .col-6 {
   width: 50%;
   flex: none;
}

.row.mobile .col-12 {
   width: 100%;
   flex: none;
}

.row.mobile .auto {
   flex: 1 1 0;
}

.row {
   margin: 0;
}

/* mobile-lg */
@media(min-width: 540px) {
   .row.mobile-lg {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -8px 0 -8px;
   }

   .row.mobile-lg .auto {
      flex: 1 1 0 !important;
   }

   .row.mobile-lg .col-6 {
      width: 50%;
      flex: none;
   }

   .row.mobile-lg .col-12 {
      width: 100%;
      flex: none;
   }

   
   .row .col {
      width: 100%;
      display: block;
   }
}

/* Tablet */
@media (min-width: 769px) {

   
   .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -8px 0 -8px;
   }

   .row .col-6 {
      width: 50%;
      flex: none;
   }

   .row .col-12 {
      width: 100%;
      flex: none;
   }

   
   .auto {
      flex: 1 1 0 !important;
   }
}

/* Desktop */

/* Widescreen */

.row [class^='offset-'] {
   margin: 0 !important;
}

/* TYPOGRAPHY
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

html {
   font-size: 9.5px;
   font-family: 'Raleway';
   font-weight: 400;
}

body {
   font-size: 1.6rem;
   font-family: 'Raleway';
   color: var(--dark-gray);
}

h1,
h2,
h3,
h4 {
   font-weight: 600;
   margin-top: 0rem;
   margin-bottom: 2rem;
   letter-spacing: .1rem;
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
}

body {
   font-size: 1.6rem;
   line-height: 1.6rem;
}

h1 {
   font-size: 4rem;
   margin-bottom:
   5rem;
   line-height: 4.8rem;
}

h2 {
   font-size: 3rem;
   margin-bottom: 4rem;
   line-height: 3.8rem;
}

h3 {
   font-size: 2.5rem;
   margin-bottom: 3.6rem;
   line-height: 3.35rem;
}

h4 {
   font-size: 2.1rem;
   margin-bottom: 2.6rem;
   line-height: 2.5rem;
}


h1.title,
h2.title,
h3.title,
h4.title {
   margin-bottom: 1rem !important;
}

.subtitle {
   color: #8f8f8f;
   margin: 0;
   padding: 0;
   margin-bottom: 3rem;
}

strong {
   font-weight: 600;
}

/* LINKS
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/
a,
a:link,
a.link {
   text-decoration: none;
   color: var(--link-dark);
   display: inline-block;
   font-weight: 500;
}

a:hover {

   border-bottom: 2px var(--primary);
}


/* BUTTONS
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   display: inline-block;
   padding: 10px 20px;
   border: 1px solid var(--medium-gray);
   background: transparent;
   color: var(--dark-gray);
   font-weight: bold;
   letter-spacing: .05rem;
   font-weight: 500;
   font-size: 1.5rem;
   border-radius: 4px;
   margin: 8px;
   text-align:
   center;
   text-transform: uppercase;
}

button a, .button, button a:visited, button a:hover {
   color: white !important;
}

button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {

    color: var(--darkest-gray);
   cursor: pointer;
   transition-duration: .2s;
   background: var(--lightest-gray);
   box-shadow: none;
   border: 1px solid var(--medium-gray);
}

button.medium,
.button.medium,
input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium {
   padding: 13px 30px;
   font-size: 1.6rem;
}

button.large,
.button.large,
input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large {
   padding: 18px 40px;
   font-size: 1.75rem;
}

button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
   outline: none;
}

button.primary,
.button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {
   background: var(--primary);
   color: white !important;
   border-color: var(--primary);
}

button.primary:hover,
.button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover {
   background: var(--primary-dark);
   color: white !important;
   border-color: var(--primary-dark);
}

button.accent,
.button.accent,
input[type="submit"].accent,
input[type="reset"].accent,
input[type="button"].accent {
   background: var(--accent);
   color: white !important;
   border-color: var(--accent);
}

button.accent:hover,
.button.accent:hover,
input[type="submit"].accent:hover,
input[type="reset"].accent:hover,
input[type="button"].accent:hover {
   background: var(--accent-dark);
   color: white !important;
   border-color: var(--accent-dark);
}

button.link,
.button.link,
input[type="submit"].link,
input[type="reset"].link,
input[type="button"].link {
   background: var(--link);
   color: white !important;
   border-color: var(--link);
}

button.link:hover,
.button.link:hover,
input[type="submit"].link:hover,
input[type="reset"].link:hover,
input[type="button"].link:hover {
   background: var(--link-dark);
   color: white !important;
   border-color: var(--link-dark);
}

button.danger,
.button.danger,
input[type="submit"].danger,
input[type="reset"].danger,
input[type="button"].danger {
   background: var(--danger);
   color: white;
   border-color: var(--danger);
}

button.danger:hover,
.button.danger:hover,
input[type="submit"].danger:hover,
input[type="reset"].danger:hover,
input[type="button"].danger:hover {
   background: var(--danger-dark);

   color: white !important;
   border-color: var(--danger-dark);
}

button.light,
.button.light,
input[type="submit"].light,
input[type="reset"].light,
input[type="button"].light {
   background: var(--lighter-gray);
   color: var(--dark-gray);
   border-color: var(--lighter-gray);
}

button.light:hover,
.button.light:hover,
input[type="submit"].light:hover,
input[type="reset"].light:hover,
input[type="button"].light:hover {
   background: var(--light-gray);
   border-color: var(--light-gray);
}

/* Forms
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

form {
   margin-top: 15px;
   width: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
   padding: 10.8px 10px;
   border: 1px solid var(--medium-gray);
   border-radius: 4px;
   display: block;
   box-sizing: border-box;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
   border: 1px solid var(--primary);
   box-shadow: 0px 0px 3px .5px var(--gray-light);
   outline: none;
}

form .col {
   padding-bottom: 0 !important;
   padding-top: 0 !important;
}

legend {
   display: block;
   margin-bottom: .5rem;
   font-weight: 600;
   padding: 5px;
   color: var(--gray-text);
}

.input-element {
   margin: 0 0 1rem 0;
   display: block;
}

.input-element.medium input {
   padding: 13.8px;

     font-size: 1.6rem;
}

.input-element.large input {
   padding: 18px;
   font-size: 1.7rem;
}

.input-element.medium label {
   font-size: 1.6rem;
}

.input-element.large label {
   font-size: 1.7rem;
}

@media (min-width: 540px) {
   .input-element {
      margin: 0 0 1.4rem 0;
   }
}

@media (min-width: 769px) {
   .input-element {
      margin: 0 0 1.8rem 0;
   }
}

@media (min-width: 1024px) {

     .input-element {
      margin: 0 0 2rem 0;
   }
}

label {
   display: block;
   margin-bottom: 1rem;
   font-weight: 600;
   font-size: 1.5rem;
}

/* IMAGES
 --------------------------------------------------------------
 --------------------------------------------------------------*/



/*
   Lists
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

ul {
   list-style: circle inside;
}

ul {

     padding-left: 0;
   line-height: 2rem;
   margin-top: 1.2rem;
}

li {
   line-height: 2rem;
   margin-bottom: 1.2rem;
}

ul ul {
   margin: 1.5rem 0 1.5rem 3rem;
   font-size: 95%;
}

.collection-item {
   padding: 15px;
   list-style: none;
   margin: 0;
   border: 1px solid var(--light-gray);
   border-bottom: none;
   font-weight: 500;
   display: block;
   line-height: inherit;
}

.collection-item:hover {
   cursor: pointer;
   box-shadow: none;
   position: static;
   line-height: inherit;
}

.collection-item:first-child {
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}

.collection-item:last-child {
   border-bottom: 1px solid var(--light-gray);
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}

/* Tables
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/


/* Code
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

/* Navbar
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

.navbar .navbar-content {
   display: block;
   padding: 10px 15px
}

.navbar * {
   margin: 0;
}

.navbar-left {
   text-align: center;
   width: 100%
}

.navbar-right {
   width: 100%;
   text-align: center
}

.menu {
   list-style: none;
   display: inline-block;
   justify-content: flex-end;
   width: auto;
   padding-top: 10px;
}

.menu-item {
   display: inline-flex;

   align-items: center;
   height: 100% !important;
   position: relative
}

.menu-item:hover>a {
   color: var(--primary)
}

.menu-item a {
   color: inherit;
   box-shadow: none;
   display: inline-block;
   padding: 0 15px
}

.menu-item a:hover {
   color: var(--primary);
   cursor: pointer
}

@media (min-width:720px) {
   .navbar {
      background: var(--dark-gray);
      box-sizing: content-box;
   }


    .navbar .navbar-content {
     position: relative;
     padding: 0px;
     width: 85%;
     margin: 0 auto;
  }

  .navbar * {
     margin: 0;
  }

  .navbar-left {
     width: 25%;
     display: inline-block;
     padding: 15px 0px;
  }
 
  .navbar-right {
     display: inline-flex;
     justify-content: flex-end;
     position: absolute;
     height: 100%;
     padding: 0;
     width: 75%;
     align-items: center;
  }

  .menu {
     list-style: none;
     display: inline-block;
     justify-content: flex-end;
     height: 100%;
     margin-right: 20px;
  }
 
  .menu-item {
     display: inline-flex;
     align-items: center;
     height: 100%
   !important;
     position: relative;
  }

  .menu-item:hover > a {
     color: var(--primary);
  }

  .menu-item a {
     color: inherit;
     box-shadow: none;
     display: inline-block;
     padding: 0 15px;
  }

  .menu-item a:hover {
     line-height: 1.4rem;
  }

  .menu-item .menu {
     display: none;
  }

  .menu-item:hover > .menu {

     display: block;
     position: absolute;
     background: var(--dark-gray);
     text-align: left;
     width: 225px;

   left: 0;
     top: 100%;
     height: auto;
     border-top:
   2px solid #636363;
     z-index: 2;
  }

  .menu-item:last-child:hover .menu {
   right: 0;
   top: 100%;
  }


   .menu-item:hover > .menu > .menu-item {
     display: block;

     padding: 10px 15px;
     cursor: pointer;
  }

  .menu-item:hover > .menu > .menu-item:hover > a {
     color: inherit;
  }

  .menu-item:hover .menu-item:hover {
     background: #636363;
  }

  .menu-item:hover > .menu > .menu-item:hover >
   .menu {
     display: block;
     left: 100%;
     top: 0px;
     border-top: none;
     height: auto;
     z-index: 3;
  }

  .menu-item:hover > .menu > .menu-item:hover .menu-item {
     margin: 0;
     display: block;
     height: auto;

       padding: 10px;
     position: relative;
     border: none;
     cursor: pointer;
     padding-right: 40px;
  }

  /* White navbars */
  .navbar.white {
     background: white;
     color: var(--dark-gray) !important;
  }

  .navbar.white .menu-item:hover .menu {
     background: white;
     border-top: 2px solid var(--primary);
  }

  .navbar.white .menu-item:hover .menu .menu-item:hover {
     background: var(--lighter-gray);
  }

  /* Transparent navbar */
  .navbar.transparent {
     background: transparent;
  }

  .navbar.transparent .menu-item:hover .menu {
     background: #363636d2;
  }


    .navbar.transparent .menu-item:hover .menu .menu-item:hover {

    background: #333333f5;
  }

  .navbar.transparent .menu-item:hover a {
     color: white;
  }

  /* Menu hover variants */
}

/* Display & Positioning Modifiers
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

.v-align-center {
   align-items: center !important;
}

/* Display for
   different breakpoints */




/* Layout Modifiers
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

.float-right::after {
   content: '';
   display: table;

   clear: both;
}

.full-width {
   width: 100%;
}

.float-right {
   float: right;
}


.center-text {

     text-align: center !important;
}


/* Margin and Padding Modifiers
 ---------------------------------------------------------------
 ---------------------------------------------------------------*/

.m-auto {
   margin: 0 auto !important;
}

.m-0 {
   margin: 0 !important;
}

.my-5 {
   margin-top: 5rem !important;
   margin-bottom: 5rem !important;
}

.mr-0 {
   margin-right: 0rem !important;
}

.mr-1 {

     margin-right: 1rem !important;
}

.mr-2 {
   margin-right: 2rem !important;
}

.p-3 {
   padding: 3rem !important;
}

.py-3 {
   padding-top: 3rem !important;
   padding-bottom: 3rem !important;
}

.menu-item .subtext {
   position: absolute;
   visibility: hidden;
   height: 100%; 
   width: 100%;
   font-size: 1.2rem;
   left: -20px;
   line-height: 5rem;
}

.menu-item:hover .subtext {
   height: auto;
   width: auto;
   visibility: visible;
   text-align: center;
   display: block;
   color: var(--dark-gray);
   left: 35px;
   transition-duration: 1s;
}

.menu-item.subtext {
   position: relative;
   right: 0;
}

.menu-item.subtext:hover {
   position: relative;
   right: 35px;
   transition-duration: 1s;
}

.menu-item:hover a {
   color: var(--accent);
}